<html>
<head>
    <title>Адекватность методики</title>
</head>
<body>
<p align="left">Утверждаю:</p>
<p align="left">Начальник _________________</p>
<p align="left">___________________________</p>
<p align="left">___________________________</p>
<p align="left">"_____"_____________ ______</p>
<br>
<br>
<br>
<br>
<h2 align="center">Заключение по внедрению методики измерения</h2>
<br>
<br>
<br>
<table align="center" border="2">
    <tr>
        <td>Результат<br> первого<br> измерения, X<sub>1</sub></td>
        <td>Результат<br> второго<br> измерения, X<sub>2</sub></td>
        <td>Результат<br> анализа, X<sub>l</sub></td>
        <td>Выборочная<br> дисперсия<br> результатов<br> параллельных<br>
            измерений, S<sub>1,2</sub><sup>2</sup></td>
        <td>Показатель<br> повторяемости<br>(среднеквадратическое<br>
            отклонение<br>повторяемости),
            &sigma;<sub>r</sub></td>
        <td>Показатель<br> внутрилабораторной<br> прецизионности<br>
            (среднеквадратическое<br> отклонение<br> внутрилабораторной<br>
            прецизионности),<br>
            &sigma;<sub>R</sub><sub>л</sub></td>
        <td>Показатель<br> правильности<br> (границы,в<br> которых<br>
            неисключенная<br> систематическая<br> погрешность<br>
            лаборатории<br>находится с<br>
            принятой<br> вероятностью<br> Р= 0,95)
        </td>
        <td>Показатель<br>точности<br>(границы, в которых<br>с принятой<br>вероятность
            Р=0,95<br>находится<br>погрешность любого<br>
            из результатов<br>анализа, получаемых<br>в лаборатории)
        </td>
    </tr>
    <tr>
        <td>X1</td>
        <td>X2</td>
        <td>Average</td>
        <td>Disp</td>
        <td>CКО<br>повторяемости</td>
        <td>CКО<br>воспроизводимость</td>
        <td>правильность</td>
        <td>точность</td>
    </tr>
    {% for d in data.itertuples %}
        <tr>
            <td>
                {{ d.1 }}
            </td>
            <td>
                {{ d.2 }}
            </td>
            <td>
                {{ d.3 }}
            </td>
            <td>
                {{ d.4 }}
            </td>
            {% if forloop.first %}
                <td>{{ s }}</td>
                <td>{{ rep }}</td>
                <td>{{ delta_s_l_v }}</td>
                <td>{{ delta_l_v }}</td>
            {% endif %}
        </tr>
    {% endfor %}

</table>
<br>
<br>
<br>
<br>
<br>
<p></p>
<p align="center">Установленные в лаборатории значения показателей
    повторяемости и внутрилабораторной прецизионности результатов <br>
    анализа не превосходят значений показателей повторяемости и
    воспроизводимости методики анализа.</p>
</body>