<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body>
<P align=left>Утверждаю:</P>
<P align=left>Начальник _________________</P>
<P align=left>___________________________</P>
<P align=left>___________________________</P>
<P align=left>"_____"_____________ ______</P><BR><BR><BR><BR>
<H2 align=center>Исходные данные для построения контрольных карт
    Шухарта</H2><BR><BR><BR>
<TABLE border=2 align=center>
    <TBODY>
    <TR>
        <TD>Результат<BR>контрольного<BR>измерения, X<SUB>1</SUB></TD>
        <TD>Результат<BR>контрольного<BR>измерения, X<SUB>2</SUB><SUB>i</SUB>
        </TD>
        <TD>Результат<BR>анализа, X<SUB>ср</SUB></TD>
        <TD>Результат<BR>контрольной<BR>процедуры<BR>K<SUB>k</SUB><SUB>i</SUB>
        </TD><!--<td>Выборочная<br> дисперсия<br> результатов<br> параллельных<br> измерений, S<sub>1,2</sub><sup>2</sup></td>
       <td>Показатель<br> повторяемости<br>(среднеквадратическое<br> отклонение<br>повторяемости),
 &sigma;<sub>r</sub></td>
       <td>Показатель<br> внутрилабораторной<br> прецизионности<br> (среднеквадратическое<br> отклонение<br> внутрилабораторной<br> прецизионности),<br>
 &sigma;<sub>R</sub><sub>л</sub></td>
       <td>Показатель<br> правильности<br> (границы,в<br> которых<br> неисключенная<br> систематическая<br> погрешность<br> лаборатории<br>находится с<br>
принятой<br> вероятностью<br> Р= 0,95)</td>
       <td>Показатель<br>точности<br>(границы, в которых<br>с принятой<br>вероятность Р=0,95<br>находится<br>погрешность любого<br>
из результатов<br>анализа, получаемых<br>в лаборатории)</td> --></TR>
    <TR>
       <!-- <td>CКО<br>повторяемости</td>
       <td>CКО<br>воспроизводимость</td>
       <td>правильность</td>
       <td>точность</td> --></TR>
    {% for d in data.itertuples %}
        <tr>
            <td>
                {{ d.1 }}
            </td>
            <td>
                {{ d.2 }}
            </td>
            <td>
                {{ d.3 }}
            </td>
            <td>
                {{ d.4 }}
            </td>
        </tr>
    {% endfor %}

    </TBODY>
</TABLE>
<BR>
<P>Аттестованное значение СО = numb</P><BR><BR><BR><BR>
<P>&#963;<SUB>R</SUB><SUB>л</SUB> = <BR><BR>&#952;'<SUB>л</SUB> =
    <BR><BR>&#963;<SUB>с</SUB><SUB>л</SUB> = <BR><BR>t = numb &#8804; t<SUB>табл</SUB>
    = numb
    <BR><BR>&#916;'<SUB>c</SUB><SUB>л</SUB> = numb <BR><BR>&#916;'<SUB>л</SUB>
    = numb &#8804;
    &#916;<SUB>л</SUB> = numb <BR></P>
<P align=center>Ранее показатель точности результатов анализа был установлен на
    основе показателя <BR>точности методики с умножением на коэффициент 0,84,
    таким
    образом, установливаем <BR>интервальную оценку показателя точности из
    диапазона
    от &#916;'<SUB>c</SUB><SUB>л</SUB> = numb до &#916;<SUB>л</SUB> и приниваем
    ее <BR>равной
    numb</P>
</body>
</html>